$size: 25;
.transwarMain {
    background-color: #323233;
    width: 100%;
    height: calc(100% - 40px);
    position: absolute;

    .content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        box-sizing: content-box;
        width: (27*$size+120)+px;
        height: 20*$size+px;
        display: flex;
        flex-direction: row;
    }
    .canvas {
        width: 27*$size+px;
        height: 20*$size+px;
        margin: 0;
        background: black;
    }
    .menuBar {
        position: relative;
        margin-left: 20px;
        width: 100px;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .UIView {
            height: 40px;
            display: block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 10px;
        }
        span {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            width: 100%;
            // color: white;
            font-size: 30px;
            font-weight: 600;
        }
        .mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($color: #323233, $alpha: 0.5);
            z-index: 10;
        }
    }
}