.tetrisContain {
    overflow: auto;
    height: 100vh;
}
.tetris {
    position   : relative;
    height     : 100vh;
    user-select: none;
    min-width  : 800px;

    .tetrisMain {
        // height: 540px;
        width           : 540px;
        display         : flex;
        flex-direction  : row;
        position        : relative;
        top             : 10px;
        // left: 10px;
        left            : 36%;
        transform       : translateX(-50%);
        border          : lightblue 1px solid;
        box-sizing      : content-box;
        background-color: white;
    }

    .tetrisContent {
        border-right: 1px dashed gray;
        box-sizing  : content-box;
        width       : 275px;
        height      : 550px;

        .tetrisPaused {
            padding: 5px;
            width  : 275px;

            img {
                width: 100%;
            }

            text-align : center;
            position   : relative;
            top        : 50%;
            // left: 50%;
            transform  : translateY(-50%);
        }
    }

    .tetrisSlide {
        position: relative;
        width   : 264px;

        .nextBlock {
            font-size : 30px;
            color     : lightgreen;
            text-align: center;
        }

        .tetrisSlidePreview {
            margin-top: 20px;
            height    : 100px;

            >div {
                position : relative;
                left     : 50%;
                transform: translateX(-50%);
            }
        }

        .start {
            margin-top   : 30px;
            cursor       : pointer;
            text-align   : center;
            user-select  : none;
            // transition: all 0.5s ease;

            &::after {
                content: "space";
                display: block;
            }

            &:active {
                transform: scale(0.95);
            }
        }

        .operation {
            margin-top : 20px;
            font-weight: 600;
            font-size  : 16px;

            img {
                width      : 60px;
                cursor     : pointer;
                user-select: none;

                &:active {
                    transform: scale(1.05);
                }
            }

            span {
                font-size: 24px;
            }

            .up {
                img {
                    left    : 39%;
                    position: relative;
                }

                >div {
                    display : inline-block;
                    left    : 43%;
                    position: relative;
                }

                &::after {
                    content      : "";
                    width        : 0;
                    height       : 0;
                    border-left  : 6px solid transparent;
                    border-right : 6px solid transparent;
                    border-bottom: 12px solid black;
                    display      : block;
                    left         : 50%;
                    transform    : translateX(-50%);
                    position     : relative;
                    top          : 10px;
                }
            }

            .middle {
                display        : flex;
                justify-content: space-around;
                margin-top     : 2px;

                .left {
                    position: relative;

                    >div {
                        position : absolute;
                        left     : 40%;
                        transform: translateX(-50%);
                    }

                    &::after {
                        content         : "";
                        width           : 0;
                        height          : 0;
                        border-top      : 6px solid transparent;
                        border-right    : 12px solid black;
                        border-bottom   : 6px solid transparent;
                        display         : inline-block;
                        // left         : 50%;
                        // transform    : translateX(-50%);
                        position        : relative;
                        left            : 10px;
                    }
                }

                .right {
                    >div {
                        left         : 45%;
                        position     : relative;
                        // text-align: center;
                    }

                    &::before {
                        content         : "";
                        width           : 0;
                        height          : 0;
                        border-top      : 6px solid transparent;
                        border-left     : 12px solid black;
                        border-bottom   : 6px solid transparent;
                        display         : inline-block;
                        // left         : 50%;
                        // transform    : translateX(-50%);
                        position        : relative;
                        right           : 10px;
                    }
                }
            }

            .down {
                margin-top: -26px;

                img {
                    left    : 39%;
                    position: relative;
                }

                >div {
                    display : inline-block;
                    left    : 43%;
                    position: relative;
                }

                &::before {
                    content     : "";
                    width       : 0;
                    height      : 0;
                    border-left : 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top  : 12px solid black;
                    display     : block;
                    left        : 50%;
                    transform   : translateX(-50%);
                    position    : relative;
                    bottom      : 10px;
                }
            }
        }
    }

    .tetrisPaimeng {
        position: absolute;
        // right: 10px;
        left    : 580px;
        bottom  : 10%;
    }

    @media screen and (min-width: 900px) {
        .tetrisMain {
            left: 40%;
        }
    }

    @media screen and (min-width: 1100px) {
        .tetrisMain {
            left: 50%;
        }
    }
}