.mineSweep {
    min-width: 960px;
    .bg{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        user-select: none;
    }
}